/* S1 */
@media (max-width: 500px) {
  .patito-flota {
    width: 350px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 400px) {
  .patito-flota {
    width: 280px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* S2 */
@media (max-width: 500px) {
  .imagen-estatica {
    width: 350px;
    top: 57px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 400px) {
  .imagen-estatica {
    width: 250px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}
