/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Responsivo Alexia2 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
@media (min-width: 2400px) {
  .titulo-baby,
  .titulo-name {
    font-size: 3.5rem;
    margin-top: 4vh;
    margin-bottom: 2vh;
  }

  .contenedor-central,
  .seccion-patito,
  .seccion-final {
    max-width: 600px;
    margin-top: 30rem;
    margin-bottom: 20rem;
    padding: 2rem 1rem;
  }

  .boton-gira,
  .boton-gira-s2 {
    width: 300px;
    height: 300px;
  }

  .patito-flota,
  .imagen-estatica {
    width: 280px;
    height: 280px;
    top: 40px;
  }
}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Responsivo móvil secundaria ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
@media (max-width: 480px) {
  .titulo-baby,
  .titulo-name {
    font-size: 2.8rem;
    margin-top: 3vh;
    margin-bottom: 1vh;
  }

  .contenedor-central,
  .seccion-patito,
  .seccion-final {
    max-width: 90vw;
    margin-top: 20rem;
    margin-bottom: 12rem;
    padding: 1rem;
  }

  .boton-gira,
  .boton-gira-s2 {
    width: 250px;
    height: 250px;
  }

  .patito-flota,
  .imagen-estatica {
    width: 240px;
    height: 240px;
    top: 30px;
  }
}
